<section class="section-block section-block--neutral">
  <div class="section-block__inner reveal">
    <div class="section-block__eyebrow">Contact</div>
    <h1 class="section-block__heading"><%= title %></h1>
    <p class="section-block__description">ご質問・ご相談がありましたら、以下のフォームまたはお電話にてお気軽にお問い合わせください。</p>

    <div class="dual-column">
      <div class="story-list">
        <article class="story-list__item">
          <span class="story-list__tag">フォーム</span>
          <h3 class="story-list__title">オンラインお問い合わせ</h3>
          <p class="story-list__body">下記フォームより送信いただければ、担当スタッフが折り返しご連絡いたします。</p>
        </article>
        <article class="story-list__item">
          <span class="story-list__tag">お電話</span>
          <h3 class="story-list__title">お急ぎの場合</h3>
          <p class="story-list__body">本店: <a href="tel:011-123-4567">011-123-4567</a><br>支店: <a href="tel:011-987-6543">011-987-6543</a><br>受付時間: 平日 9:00-18:00</p>
        </article>
      </div>
      <div class="contact-form-frame">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScs8UNyO5qt1T7jJhCE4m493ts9v8jnu8EDylB6z1EbYirjuA/viewform?embedded=true" height="1200" frameborder="0" marginheight="0" marginwidth="0" class="contact-form-frame__iframe">読み込んでいます…</iframe>
      </div>
    </div>
  </div>
</section>
